.sidebar{

width:260px;

height:100vh;

background:#1E293B;

padding:30px;

position:fixed;

}

.logo{

color:white;

margin-bottom:50px;

font-weight:bold;

}

.sidebar a{

display:block;

padding:15px;

color:white;

margin-bottom:8px;

border-radius:10px;

transition:.3s;

}

.sidebar a:hover{

background:#2563EB;

}

.main-content{

margin-left:260px;

width:100%;

background:#F8FAFC;

min-height:100vh;

}

.dashboard-card{

border-radius:20px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

padding:10px;

}

.icon{

width:60px;

height:60px;

display:flex;

justify-content:center;

align-items:center;

border-radius:15px;

color:white;

font-size:24px;

}